# The URL for the domain theyour app is hosted on (used for generating the urls needed for SEO)
# If the site is deployed to Vercel or Netlify it is configured through the respective config files (`vercel.json` and `netlify.toml`)
NEXT_PUBLIC_BASE_URL=

# Contentful Space ID: https://www.contentful.com/help/find-space-id/
CONTENTFUL_SPACE_ID=

# Contentful Content Delivery API access token: https://www.contentful.com/developers/docs/references/content-delivery-api/
CONTENTFUL_ACCESS_TOKEN=

# Contentful Content Preview API access token: https://www.contentful.com/developers/docs/references/content-preview-api/
CONTENTFUL_PREVIEW_ACCESS_TOKEN=

# A unique string used to identify preview requests: https://nextjs.org/docs/advanced-features/preview-mode#securely-accessing-it-from-your-headless-cms
CONTENTFUL_PREVIEW_SECRET=
