:root {
  /* theme colors */
  --color-light: #efefe7;
  --color-primary: #141414;

  --color-background: var(--color-light);
  --color-foreground: var(--color-primary);

  // Element Colors
  --color-border: var(--color-foreground);
  --color-button: var(--color-foreground);
  --color-button--hover: var(--color-foreground);
  --color-button-border: var(--color-foreground);
  --color-button-border--hover: var(--color-foreground);
  --color-shadow: var(--color-foreground);

  // Spacing
  --spacing-unit: 4px;
  --space-1: calc(var(--spacing-unit) * 1);
  --space-2: calc(var(--spacing-unit) * 2);
  --space-3: calc(var(--spacing-unit) * 3);
  --space-4: calc(var(--spacing-unit) * 4);
  --space-5: calc(var(--spacing-unit) * 5);
  --space-6: calc(var(--spacing-unit) * 6);
  --space-8: calc(var(--spacing-unit) * 8);
  --space-10: calc(var(--spacing-unit) * 10);
  --space-12: calc(var(--spacing-unit) * 12);
  --space-16: calc(var(--spacing-unit) * 16);

  // Sizes
  --border-width: 1px;
  --border-radius: var(--space-4);
  --shadow-width: 4px;

  // Timing
  --transition-duration: 0.2s;
  --default-transition: var(--transition-duration) ease-in;

  --default-border: var(--border-width) solid var(--color-border);
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-body);
  font-size: 16px;
  line-height: 1.5;
  transition:
    background-color var(--default-transition),
    color var(--default-transition);
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

svg {
  vertical-align: middle;
}

a {
  color: inherit;

  &:hover {
    --color-link: var(--color-link--hover);
  }
}

[data-theme='dark'] {
  --color-background: var(--color-primary);
  --color-foreground: var(--color-light);

  // Element Colors
  --color-border: var(--color-foreground);
  --color-button: var(--color-foreground);
  --color-button--hover: var(--color-foreground);
  --color-button-border: var(--color-foreground);
  --color-button-border--hover: var(--color-foreground);
  --color-shadow: var(--color-foreground);

  --default-border: var(--border-width) solid var(--color-border);
}
