.wrap {
  border-bottom: var(--default-border);
  padding-block: var(--space-10);
  padding-inline: var(--space-10);
}

.header {
  margin-bottom: var(--space-4);
}

.media {
  aspect-ratio: 402 / 180;
}

.image {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
