.wrap {
  font-family: var(--font-display);
  line-height: 1.2;
  text-transform: uppercase;
  margin: 0;
  font-palette: --headings-font-palette;
  font-variation-settings: 'SCAN' var(--scan), 'BLED' var(--bled),
    'XELA' var(--xela), 'YELA' var(--yela);
}

.h1 {
  font-size: 61px;
}

.h2 {
  font-size: 49px;
  line-height: 35px;
}

.h3 {
  font-size: 39px;
}

.h4 {
  font-size: 31px;
}

.h5 {
  font-size: 25px;
}

.h6 {
  font-size: 20px;
}
