@use '@/styles/mixins' as mixins;

.wrap {
  align-items: center;
  border: var(--default-border);
  border-radius: var(--border-radius);
  display: flex;
  justify-content: space-between;
  position: relative;
  transition: border var(--default-transition);

  @include mixins.media('desktop') {
    flex-wrap: wrap;
    overflow: hidden;
  }
}

.logo {
  display: block;
  margin: var(--space-4);
  text-decoration: none;
}

.mobileMenuTrigger {
  display: grid;
  height: 40px;
  margin-inline-end: var(--space-4);
  place-content: center;
  width: 40px;

  @include mixins.media('desktop') {
    display: none;
  }
}

/* styles.css */
.hamburger {
  background: transparent;
  border: none;
  cursor: pointer;
  height: 20px;
  padding: 0;
  position: relative;
  width: 32px;

  span {
    background-color: var(--color-foreground);
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    transition:
      transform 0.3s ease,
      opacity 0.3s ease;
    width: 100%;

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2) {
      top: 50%;
      transform: translateY(-50%);
    }

    &:nth-child(3) {
      bottom: 0;
    }
  }

  .open & {
    span {
      &:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
      }
    }
  }
}

.nav {
  background-color: var(--color-background);
  border: var(--default-border);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-width) var(--shadow-width) 0 var(--color-shadow);
  left: 0;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  top: calc(100% + 1px);
  transition:
    opacity var(--default-transition),
    border var(--default-transition);
  width: 100%;

  @include mixins.media('desktop') {
    align-self: stretch;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    display: block;
    opacity: 1;
    pointer-events: all;
    position: static;
    width: auto;
  }

  .open & {
    opacity: 1;
    pointer-events: all;
  }
}

.logoText {
  margin: 0;
}
