@use '@/styles/mixins' as mixins;

.wrap {
  border: var(--default-border);
  display: grid;
  gap: var(--space-4);
  grid-template-columns: 1fr;
  transition: border var(--default-transition);

  &.horizontal {
    @include mixins.media('desktop') {
      grid-template-columns: 50% 1fr;
    }
  }
}

.media {
  aspect-ratio: 402 / 227;

  transition: border var(--default-transition);

  .horizontal & {
    @include mixins.media('desktop') {
      aspect-ratio: auto;
      border-bottom: 0;
      border-right: var(--default-border);
    }
  }

  .vertical & {
    border-bottom: var(--default-border);
  }
}

.image {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.content {
  padding-block: var(--space-6);
  padding-inline: var(--space-4);
}

.date {
  font-size: 12px;
}

.description {
  margin-bottom: var(--space-2);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: var(--space-4);
}

.tag {
  background-color: var(--color-foreground);
  color: var(--color-background);
  font-size: 12px;
  padding-inline: var(--space-1);
}
