@use '@/styles/mixins' as mixins;

.wrap {
  border: var(--border-width) solid var(--color-border);
  display: grid;
  gap: var(--space-4);
  grid-template-columns: 1fr;

  @include mixins.media('desktop') {
    grid-template-columns: 1fr 1fr;
  }
}

.media {
  aspect-ratio: 402 / 227;
}

.image {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.content {
  padding-block: var(--space-6);
  padding-inline: var(--space-4);
}

.title {
  margin-bottom: var(--space-4);
}

.description {
  margin-bottom: var(--space-4);
}
