.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.listLink {
  // font-family: var(--font-display);
  font-weight: 700;
  text-decoration: none;
  font-style: italic;
  // text-transform: uppercase;
  padding-block: var(--space-4);
  padding-inline: var(--space-4);
  display: block;
  // color: var(--color-accent-2);
  border-left: var(--border-width) solid var(--color-border);
}
