@use '@/styles/mixins' as mixins;

.wrap {
  border-bottom: var(--default-border);
  padding-block: var(--space-10);
  transition: border var(--default-transition);

  @include mixins.media('desktop') {
    padding-inline: var(--space-10);
  }
}
