@use '@/styles/mixins' as mixins;

.wrap {
  border-bottom: var(--border-width) solid var(--color-border);
  padding-block: var(--space-10);

  @include mixins.media('desktop') {
    padding-inline: var(--space-10);
  }
}
