@use '@/styles/mixins' as mixins;

.wrap {
  height: 100%;
  --padding-block: var(--space-4);
  --padding-inline: var(--space-4);
  width: 100%;

  @include mixins.media('desktop') {
    width: 60px;
  }
}

.button {
  width: 100%;
}
