.wrap {
  display: inline-block;
  inline-size: fit-content;
  position: relative;
}

.text {
  transform: rotate(-90deg) translate(calc(-100% + 73.2px), calc(50% + 2px));
  transform-origin: bottom left;
  position: absolute;
  top: 0;
  left: 0;
  color: var(--color-wordmark);
  font-family: var(--font-wordmark);
}
